.Rproj.user
.Rhistory
.RData
.Ruserdata
^\.claude$
/.quarto/
**/*.quarto_ipynb

# qrtdown
_quarto.yml

# qrtdown
/_quarto.yml
/_qrtdown-styles.css
/_qrtdown/
/index.qmd
/reference/
/articles/
/citation.qmd
/_freeze/
